/*
You can add your own CSS here.

Click the help icon above to learn more.
*/
body, html body {
	font-family: proxima-nova, sans-serif;
}

body:before,
body:after {
	display: none !important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: proxima-nova !important;
}

.entry-content h2,
.entry-summary h2 {
	font-size: 24px;
}

.entry-content h3,
.entry-summary h3 {
	font-size: 20px;
}

.entry-content h2,
.entry-summary h2,
.entry-content h3,
.entry-summary h3 {
	margin-bottom: 12px;
}

p:empty {
	display: none;
}

a:hover, a:focus {
	color: #F72D3F;
	text-decoration: none;
	box-shadow: none;
}

.entry-content a, .entry-summary a, .taxonomy-description a, .logged-in-as a, .comment-content a, .pingback .comment-body > a, .textwidget a, .entry-footer a:hover, .site-info a:hover {
	box-shadow: none;
}

ul li {
	list-style-position: inside;
}

.site-branding,
.entry-header,
.page-slug-home .entry-footer {
	display: none;
}

.single-post .entry-header,
.blog .entry-header,
.search .entry-header {
	display: block;
}

.entry-header .entry-title {
	margin-top: 0;
	font-size: 32px;
}

.hentry div.sharedaddy h3.sd-title, .hentry h3.sd-title {
	font-size: 13px;
}

.site-inner {
	max-width: 100%;
}

body:not(.page-slug-home) .site-inner {
	background-image: url('https://2018.udaipur.wordcamp.org/files/2017/10/wcudr-page-header.png'), url('https://2018.udaipur.wordcamp.org/files/2017/11/wcudr-page-footer1.png');
	background-repeat: no-repeat, repeat-x;
	background-size: contain, 40px;
	background-position: top center, bottom center;
}

body.page-slug-home .post-thumbnail {
	display: none;
}

body:not(.page-slug-home) .site-content {
	padding-top: 20%;
	padding-bottom: 200px;
	max-width: 1140px;
	margin: 0 auto;
}

.page-slug-home .entry-content,
.no-sidebar .entry-content,
.site,
.site-main {
	margin: 0;
}

.page-slug-home .site-content {
	padding: 0;
}

.page-slug-home .sidebar {
	display: none;
}

.page-slug-home .content-area {
	width: 100%;
}

nav#site-navigation {
	margin: 0 auto;
	max-width: 1200px;
	padding: 0;
}

.main-navigation .primary-menu > li.header-button > a {
	background: url('https://2018.udaipur.wordcamp.org/files/2017/10/wcudr-button-bg.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	color: #fff !important;
	font-size: 13px;
	padding-left: 30px !important;
	padding-right: 30px !important;
}

.main-navigation .primary-menu > li.header-button {
	float: right;
}

nav.main-navigation a:hover, nav.main-navigation a:focus {
	color: #F72D3F;
	text-decoration: none;
}

header#masthead {
	padding: 0;
}

.site-header-menu {
	flex: none;
}

div#site-header-menu {
	background-color: #fff;
	padding: 5px 0 !important;
	width: 100%;
	z-index: 1000001;
	top: 0;
	text-transform: uppercase;
	font-size: 14px;
	box-shadow: 0 1px 20px #a08686;
	margin: 0;
}

.site-footer,
.below-footer-text {
	font-size: 14px;
	text-align: center;
}

.below-footer-text {
	padding-top: 20px;
}

.site-footer a,
.below-footer-text a {
	text-decoration: none;
	box-shadow: none;
}

.site-footer {
	padding-top: 20px;
	padding-bottom: 80px;
	background-image: url('https://2018.udaipur.wordcamp.org/files/2017/10/wc-footer-b.png');
	background-repeat: no-repeat;
	background-position: bottom center;
	display: none;
}

.site-info {
	margin: 0 auto;
	font-size: 14px;
}

.site-info a:hover, .site-info a:focus {
	color: #F72D3F;
	text-decoration: none;
	box-shadow: none;
}

.menu-toggle {
	border-radius: 0;
	width: 100%;
	margin: 0;
	text-transform: uppercase;
	font-size: 15px;
	background: #fff6f8;
	border: 0 !important;
}

.menu-toggle:hover, .menu-toggle:focus {
	background: #fff6f8;
	border: 0 !important;
	color: #000;
}

.fl-module.fl-node-59ef1364debcc,
.fl-module.fl-node-59ef14230b29e,
.fl-module.fl-node-59ef14ba7da77,
.fl-module.fl-node-59ef14c977edf,
.fl-module.fl-node-59ef14e3d86b4,
.fl-module.fl-node-59ef14ee62545,
.fl-module.fl-node-59ef1503997e2,
.fl-module.fl-node-59ef275b38a62,
.fl-node-59ef1e0ceb23e,
.fl-node-59ef238cd6b11 {
	display: none;
}

.fl-node-59ef133ee20dd {
	margin-bottom: 30px;
}

.fl-node-59ef13b1141da,
.fl-node-59ef13b114218,
.fl-node-59ef13b11426a,
.fl-node-59f032facca3d {
	margin-bottom: 20px;
}

.fl-node-59ef1de777326 {
	margin-bottom: 40px;
}

.fl-row-content-wrap {
	box-shadow: 0 0 32px 0 rgba(0,0,0,0.1);
}

body.no-sidebar:not(.search-results) article:not(.type-page) .entry-content {
	float: left;
	margin-right: 0;
	margin-left: 0;
	width: 100%;
}

.site-footer .main-navigation {
	display: none;
}

/*responsive */
.fl-node-59f0292f3295f,
.fl-node-59f0292f32ad4,
.fl-node-59f0292f32bfa,
.fl-node-59f0292f32d32,
.fl-node-59f0292f32ec0,
.fl-node-59f0292f3300e,
.fl-node-59f029c655f1a,
.fl-node-59f032facca85,
.fl-node-59f032faccee6,
.fl-node-59f032faccf7e,
.fl-module.fl-node-59f0292f33141 {
	display: none;
}

.fl-node-59f029c655ff0 h3,
.fl-node-59f029c65607f h3,
.fl-node-59f029c656114 h3 {
	font-size: 24px !important;
}

.fl-node-59ef2325a44cc .fl-col-group-equal-height .fl-module-content,
.fl-node-59f032facc05e .fl-col-group .fl-module-content {
	margin-bottom: 0;
	margin-top: 0;
}

.fl-node-59ef236fe2490 {
	margin-bottom: 40px;
}

.entry-content .contact-form label {
	font-size: 13px;
	font-family: proxima-nova;
	font-weight: 700;
}

.entry-title a:hover, .entry-title a:focus {
	color: #F72D3F;
}

.wcorg-organizers .wcorg-organizer {
	width: 25%;
	float: left;
}

body.no-sidebar:not(.search-results) article:not(.type-page) .entry-footer {
	float: none;
	width: 100%;
	clear: both;
	margin-right: 0;
	margin-left: 0;
	width: auto;
}

.home-sponsors .fl-row-fixed-width {
	max-width: 1400px;
}

.home-sponsors > .fl-row-content-wrap,
.home-sponsors-mobile > .fl-row-content-wrap {
	background-image: url('https://2018.udaipur.wordcamp.org/files/2017/11/sponsors-top-border.png'), url('https://2018.udaipur.wordcamp.org/files/2017/11/sponsors-bottom-border.png');
	background-repeat: repeat-x;
	background-position: top left, bottom left;
	background-size: 50px;
	background-color: #8d3329;
	padding: 130px 20px;
}

.home-sponsors .fl-col-group-equal-height.sponsors {
	margin-bottom: 50px;
}

.home-sponsors .fl-module-heading .fl-heading {
	text-align: left;
	margin-bottom: 20px !important;
}

.home-sponsors .fl-col-group-equal-height.sponsors, .home-sponsors .fl-col-group-equal-height.sponsors .fl-col, .home-sponsors .fl-col-group-equal-height.sponsors .fl-col-content {
	display: block !important;
}

.home-sponsors .fl-col-group-equal-height.sponsors,
.home-sponsors-mobile .fl-col-group-equal-height.mobile-sponsors {
	display: block !important;
	width: 100%;
	clear: both;
}

.home-sponsors .fl-col-group-equal-height.sponsors .fl-module-content {
/*margin-left: 0;*/
}

h3.home-sponsors-title {
	font-size: 18px;
	margin-bottom: 20px;
	margin-left: 20px;
	font-weight: 300;
/*opacity: .7;*/
}

.home-sponsors .fl-col-group-equal-height.sponsors .fl-col,
.home-sponsors-mobile .fl-col-group-equal-height.mobile-sponsors .fl-col {
	width: auto;
	display: inline-block;
	flex: none;
	margin-right: 30px;
}

.home-sponsors .fl-col-group-equal-height.sponsors .fl-col:last-child {
	margin-right: 0;
}

.home-sponsors .fl-col-group-equal-height.sponsors .fl-col.wponline,
.home-sponsors-mobile .fl-col-group-equal-height.mobile-sponsors .fl-col.wponline {
	display: none !important;
}

.home-sponsors .fl-col-group-equal-height.sponsors .fl-photo {
	text-align: left;
}

.home-sponsors-mobile img {
	margin: 0 auto;
}

.home-sponsors-mobile .fl-col-group .fl-module-content {
	margin-bottom: 30px;
}

body:not(.search-results) article:not(.type-page) .entry-footer, body:not(.search-results) article:not(.type-page) .entry-content {
	width: 100%;
	float: none;
	margin: 0 !important;
}

body:not(.search-results) article:not(.type-page) .entry-footer {
	margin-top: 10px !important;
}

body:not(.search-results) article:not(.type-page) .entry-footer span.byline {
	display: none;
}

body:not(.search-results) article:not(.type-page) .entry-footer span {
	display: inline-block;
	margin-right: 10px;
	font-size: 13px;
	font-family: proxima-nova;
	font-weight: 700;
}

.widget .widget-title {
	font-size: 20px;
	font-family: proxima-nova;
}

.sidebar .widget {
	border-top: 0;
	padding-top: 0;
}

.widget .search-form label {
	display: block;
}

table th,
table td {
	padding: 5px;
}

.wcu-table-hotels-list .tripadvisor-rating {
	background: #9bc46b;
	color: #fff;
	display: inline-block;
	padding: 1px 8px;
	line-height: 1.5;
	font-size: 14px;
	min-width: 35px;
	text-align: center;
	border-radius: 4px;
}

.fl-node-59ef133ee20dd.fl-module-heading .fl-heading {
	text-align: left;
}

/* Comment Form */
.comment-metadata {
	font-family: proxima-nova;
	font-size: 12px;
}

.comment-reply-title {
	font-size: 20px;
}

.comment-form {
	padding-top: 0;
}

.comment-notes, .comment-awaiting-moderation, .logged-in-as, .form-allowed-tags {
	font-size: 13px;
}

.comment-form label {
	font-family: proxima-nova;
	font-size: 14px;
}

.required {
	color: #F72D3F;
}

.post-navigation {
	font-family: proxima-nova;
}

.post-navigation .meta-nav {
	font-size: 11px;
}

.widget_wcorg_mailchimp_wiget .wcorg-mailchimp input[type="submit"] {
	margin-top: 10px;
}

.widget {
	font-size: 13px;
}

@media screen and (min-width: 56.875em) {
	body:not(.page-slug-home) #primary {
		border-right: 1px solid #eee;
		padding-right: 30px;
	}
}

@media only screen and (max-width: 1366px) {
	.fl-col.fl-node-59ef25c441295 {
	/*padding-top: 60px;
						padding-bottom: 80px; */
	}
}

@media only screen and (max-width: 992px) {
	.home-sponsors .fl-col-group-equal-height.sponsors {
		margin-bottom: 30px;
	}
}

@media only screen and (max-width: 909px) {
	.main-navigation .primary-menu > li.header-button {
		display: none;
	}

	.main-navigation .primary-menu {
		border-bottom: 0;
	}

	.main-navigation li {
		border-top: 0;
		position: relative;
		border-bottom: 1px solid #eee;
	}

	.main-navigation a {
		padding: 10px;
	}

	body:not(.page-slug-home) .site-content {
		padding-left: 20px;
		padding-right: 20px;
	}

	.fl-node-59f029c655ed3,
																																							.fl-node-59f0292f32908 {
		margin-bottom: 20px !important;
	}

	body:not(.page-slug-home) .site-inner {
		background-position: 100% 30px, bottom center;
	}

	.comments-area,
																								.post-navigation {
		margin-left: 0;
		margin-right: 0;
	}

	.sidebar {
		padding-left: 0;
		padding-right: 0;
	}
}

@media only screen and (max-width: 768px) {
	.fl-node-59f029c655fa9>.fl-col-content,
																.fl-node-59f029c656037>.fl-col-content,
																.fl-node-59f029c6560c7>.fl-col-content {
		background-size: contain;
	}

	.home-sponsors-mobile .fl-col-group-equal-height.mobile-sponsors .fl-col {
		width: auto;
	}
}

@media only screen and (max-width: 600px) {
	body:not(.page-slug-home) .site-inner {
		background-position: 100% 30px, bottom center;
	}
}
